In [4]:
# Midterm-Eliza Franklin
 
## Research Question

* ##### Is there a correlation between KKK chapter formations and racial terror lynchings occuring in ALabama?
* ##### If so, do racial terror lynchings increase or decrease in regions where klan chapters exist?

## Importing Data and Libraries

##### First, I import the appropriate libraries to the notebook.

##### Then I imported the two CSV files containing the racial terror lynchings occuring in ALabama from 1877 until 1943. I inserted exact dates of death and deleted the cells of lynched persons with unknown dates. The other data set came from Mapping teh Second Klu Klux Klan 1915-1940. I deleted all the column for the source from which the information on the klan chapter was gathered because it is not relevant for this project and can be featured in sources cited. 

* ##### Source Link for Racial Terror Lynchings: http://people.uncw.edu/hinese/HAL/HAL%20Web%20Page.htm

* ##### Source Link for Klu Klux Klan chapter formations: https://labs.library.vcu.edu/klan/learn

SyntaxError: invalid syntax (383425866.py, line 5)

In [5]:
import pandas as pd
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [6]:
from geopandas import GeoDataFrame
from shapely.geometry import Point

In [9]:
Al_Klan = gpd.read_file("Alabama_Klan_Chapters.csv")
Al_lynching = gpd.read_file ("AlabamaLynchingData.csv")

In [10]:
 Al_Klan.head()

,state,city,klan_number,nickname,latitude,longitude,year,geometry
0,Alabama,Birmingham,1,R. E. Lee Klan,33.5206608,-86.80249,1924,None
1,Alabama,Bessemer,2,Niles Burnett Klan,33.4017766,-86.954437,1926,None
2,Alabama,Montgomery,3,Not Named,32.3668052,-86.2999689,1923,None
3,Alabama,Anniston,4,Not Named,33.6598257,-85.8316318,1924,None
4,Alabama,Birmingham,6,Nathan Bedford Forrest Klan,33.5206608,-86.80249,1924,None

In [11]:
Al_lynching.head

<bound method NDFrame.head of       Victim Name(s)     Month  Year      County State    Full Address  \
0        Gaines Hall     April  1904     Autauga    AL     Autauga AL
1     Walter Clayton     April  1908     Baldwin    AL     Baldwin AL
2        George Ward      June  1885     Barbour    AL     Barbour AL
3      Iver Peterson   October  1911     Barbour    AL     Barbour AL
4    William Jenkins   January  1922     Barbour    AL     Barbour AL
..               ...       ...   ...         ...   ...             ...
272      Abe Sumrell  November  1907  Washington    AL  Washington AL
273    William Lewis     April  1894      Wilcox    AL      Wilcox AL
274   Arthur Stewart  December  1903      Wilcox    AL      Wilcox AL
275    Edward Ptomey     March  1905      Wilcox    AL      Wilcox AL
276      Will Ptomey     March  1905      Wilcox    AL      Wilcox AL

       Latitude    Longitude Race   Sex           Alleged Offense geometry
0    32.5791817  -86.4996546  Blk  Male    Assaulted woman (rape)     None
1    30.6010744  -87.7763333  Blk  Male                      Rape     None
2    31.8172896   -85.354965  Blk  Male                    Murder     None
3    31.8172896   -85.354965  Blk  Male  Attempted assault (rape)     None
4    31.8172896   -85.354965  Blk  Male            Insulted woman     None
..          ...          ...  ...   ...                       ...      ...
272  31.3422346  -88.2461183  Blk  Male                    Murder     None
273  32.0105439  -87.3413599  Blk  Male                    Murder     None
274  32.0105439  -87.3413599  Blk  Male                  Shot Man     None
275  32.0105439  -87.3413599  Blk  Male                    Murder     None
276  32.0105439  -87.3413599  Blk  Male                    Murder     None

[277 rows x 12 columns]>

In [12]:
#check data type 
type (Al_Klan)
type (Al_lynching)

geopandas.geodataframe.GeoDataFrame

In [13]:
Al_Klan.sample (6)

,state,city,klan_number,nickname,latitude,longitude,year,geometry
4,Alabama,Birmingham,6,Nathan Bedford Forrest Klan,33.5206608,-86.80249,1924,None
30,Alabama,Florala,144,Not Named,31.007712,-86.324957,1925,None
28,Alabama,Pisgah,133,Not Named,34.685022,-85.846575,1924,None
29,Alabama,Edwardsville,141,Hopewell Klan,33.7073272,-85.5091235,1929,None
26,Alabama,Mobile,108,Not Named,30.6953657,-88.0398912,1924,None
24,Alabama,Athens,86,Not Named,34.8028661,-86.9716741,1923,None

In [14]:
Al_lynching.sample (6)

,Victim Name(s),Month,Year,County,State,Full Address,Latitude,Longitude,Race,Sex,Alleged Offense,geometry
134,Andy Hames,May,1895,Jackson,AL,Jackson AL,31.5090521,-87.8944435,Blk,Male,Murder,None
231,William Archer,September,1893,Pickens,AL,Pickens AL,33.3339954,-88.0900762,Blk,Male,Arson,None
62,George Richardson,July,1897,Clay,AL,Clay AL,33.7026013,-86.5997096,Blk,Male,Attempted rape,None
17,Toby McGrady,October,1895,Bullock,AL,Bullock AL,32.0573536,-85.7256372,Blk,Male,Rape,None
46,Abram Seddon,February,1894,Chilton,AL,Chilton AL,32.944392,-86.6611083,Blk,Male,Rape & murder,None
251,Jim Torney,July,1888,St Clair,AL,St Clair AL,33.6530112,-86.3376761,Blk,Male,Eloped with white girl,None

In [16]:
# check for more detailed information on the dataset
Al_Klan.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        38 non-null     object
 1   city         38 non-null     object
 2   klan_number  38 non-null     object
 3   nickname     38 non-null     object
 4   latitude     38 non-null     object
 5   longitude    38 non-null     object
 6   year         38 non-null     object
 7   geometry     0 non-null      geometry
dtypes: geometry(1), object(7)
memory usage: 2.5+ KB

In [19]:
# check for more detailed information on the dataset 
Al_lynching.info()


##### not sure if I will drop some columns. I desire the map to be Robust, but the lynching victim's alleged offense may not be important.

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Victim Name(s)   277 non-null    object
 1   Month            277 non-null    object
 2   Year             277 non-null    object
 3   County           277 non-null    object
 4   State            277 non-null    object
 5   Full Address     277 non-null    object
 6   Latitude         277 non-null    object
 7   Longitude        277 non-null    object
 8   Race             277 non-null    object
 9   Sex              277 non-null    object
 10  Alleged Offense  277 non-null    object
 11  geometry         0 non-null      geometry
dtypes: geometry(1), object(11)
memory usage: 26.1+ KB

In [20]:
## Initial Bar Graph of Klan Formations
##### Creating a bar graph to see the distribtution of klan chapters across counties.

In [23]:
list (Al_Klan)
##### cleaning the data columns

['state',
 'city',
 'klan_number',
 'nickname',
 'latitude',
 'longitude',
 'year',
 'geometry']

In [27]:
columns_to_keep = ['city', 'klan_number','year']

columns_to_keep = [ 'klan number', 'city', 'year']

In [28]:
Al_Klan = Al_Klan [columns_to_keep]

In [29]:
Al_Klan. head()

         city klan_number  year
0  Birmingham           1  1924
1    Bessemer           2  1926
2  Montgomery           3  1923
3    Anniston           4  1924
4  Birmingham           6  1924

In [33]:
Al_Klan['year'].plot.hist(figsize=(15,10), 
                           bins=100,
                           title='KKK Chapters in Dixie',
                           fontsize=14,
                           xlabel = 'Year of KKK Chapter (Documented in source)'

SyntaxError: unexpected EOF while parsing (3585623553.py, line 6)